body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#fcfcfc ;
}

.App {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.header{
  width: 100%;
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section--projetos{
  padding-block: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 50px;
}

.section--main{
  margin-top: 5px;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
}

.section--arqv{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section--clnd{
  width: 50%;
  height: 100%;
}
